
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="eye"></ion-icon> <span> 6743 </span>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <span> 342 </span>
        <ion-icon slot="icon-only" name="chatbubble"></ion-icon>
      </ion-button>
      <ion-button>
        <span> 6475 </span>
        <ion-icon slot="icon-only" name="heart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
