.pc-IosPageGroupTitle {
  // width: 343px;
  // left: 16px;
  // top: 416px;
  // position: absolute;
  color: var(--ion-text-color);
  font-size: 22px;
  font-family: "SF Pro Display";
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.8px;
  word-wrap: break-word;
}
