<ion-content [fullscreen]="true">
  <app-header-back>
    Settings
    <ion-content buttons-end>
      <!-- <ion-button>
        <ion-icon
          slot="icon-only"
          name="logo-instagram"
          class="pc-ion-icon-small"
        ></ion-icon>
      </ion-button> -->
    </ion-content>
  </app-header-back>

  <ion-list [inset]="false" lines="none">
    <ion-item *ngFor="let i of [1,2,3,4,5,6]">
      <ion-icon aria-hidden="true" name="notifications-outline" slot="start" class="pc-ion-icon-small"></ion-icon>
      <ion-label> Pokémon Yellow </ion-label>
    </ion-item>
  </ion-list>
  <ion-list [inset]="false" lines="full" class="pc-ion-list--separator">
    <ion-item > </ion-item>
  </ion-list>

  <ion-list [inset]="false" lines="none">
    <ion-item>
      <ion-label> Terminar sessão </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
