<ng-content></ng-content>
<a class="type-toggle" (click)="toggleShow()">

   <ion-icon class="show-option" [class.hidden]="showPassword" name="eye-off-outline" *ngIf="mode=='icon'"></ion-icon>
   <ion-icon class="hide-option" [class.hidden]="!showPassword" name="eye-outline" *ngIf="mode=='icon'"></ion-icon>
   <span class="show-option" [class.hidden]="showPassword" name="eye-off-outline" *ngIf="mode=='text'">Show</span>
   <span class="hide-option" [class.hidden]="!showPassword" name="eye-outline" *ngIf="mode=='text'">Hide</span>
</a>
