<div class="pc-IosCardSquaredSmall" >
  <img class="pc-IosCardSquaredSmallImg"  [src]="imageSrc" />
  <div class="pc-IosCardSquaredHeaderContainer">
    <div class="pc-IosCardSquaredAmount" >6473</div>
    <div class="pc-IosCardSquaredIcon" >
      <ion-icon name="heart"></ion-icon>
      <!-- <div style="width: 17.46px; height: 16.14px; left: 3.27px; top: 3.86px; position: absolute; background: var(--ion-background-color)"></div> -->
    </div>
  </div>
  <div class="pc-IosCardSquaredFooterContainer">
    <div class="pc-IosCardSquaredTitle" >Hot air balloon</div>
  </div>
</div>
