.pc--ios-page-title{
  width: 215px;
  left: 16px;
  top: 91px;
  position: absolute;
  color: var(--ion-text-color);
  font-size: 34px;
  font-family: "SF Pro Display";
  font-weight: 700;
  line-height: 41px;
  letter-spacing: 0.37px;
  word-wrap: break-word
}

.pc-IosPageTitle{
  // width: 215px;
  // left: 16px;
  // top: 91px;
  // position: absolute;
  color: var(--ion-text-color);
  font-size: 34px;
  font-family: "SF Pro Display";
  font-weight: 700;
  line-height: 41px;
  letter-spacing: 0.37px;
  word-wrap: break-word
}
