<div class="pc-CommentDivider">
  <div class="pc-CommentText">
    <div class="pc-Person">
      <img class="pc-Avatar" src="/assets/images/ios-profile-picture.png" />
      <div class="pc-NameDate">
        <div class="pc-JorgeWatson">Jorge Watson</div>
        <div class="pc-Date">2 hours ago</div>
      </div>
    </div>
    <div class="pc-CommentReply">
      <div class="pc-EumDictaFuissetPhaedrumEi">
        Eum dicta fuisset phaedrum ei.
      </div>
      <div class="pc-Reply">Reply</div>
    </div>
  </div>
  <div class="pc-SeparatorLight68PxLeft">
    <div class="pc-Divider"></div>
  </div>
</div>
