<div class="pc-NavigationBarLightDefault" >
  <div class="pc-Background" ></div>
  <div class="pc-NavigationBarComponentsLeftBack" >
    <div class="pc-Button" >
      <div class="pc-Arrow" ></div>
      <div class="pc-Label" >Back</div>
    </div>
  </div>
  <div class="pc-NavigationBarComponentsRightIcon">
    <div class="pc-IconNavToolbarMore" >
      <!-- <img class="pc-Icon"  src="/assets/images/ios-balloon.png" /> -->
    </div>
  </div>
  <div class="pc-NavigationBarComponentsCenterHeadlineLight" >
    <div class="pc-Title" >Hot air balloon</div>
  </div>
</div>
