<app-header-user></app-header-user>
<ion-content [fullscreen]="true">
  <app-refresher [refreshCallback]="onRefreshCallback"></app-refresher>
  <div style="height: 200dvh" class="ion-padding">
    <h1>
      {{test}}

    </h1>
    <app-p
      *ngFor="let x of [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]; let i = index"
      (click)="navigateToPost(i)"
    >
      <app-h1>h1 #{{i}}</app-h1>
      <app-h3>h3 #{{i}}</app-h3>
      <div>
        p #{{i}}
      </div>
      <app-small>
        small xxx
      </app-small>
    </app-p>
  </div>
</ion-content>
