<div class="pc-NavigationBarLightLargeSearch">

  <div class="pc-Background"></div>

  <div class="pc-IosSection">
    <!-- spacing -->

  </div>
  <div
    class="pc-NavigationBarComponentsLeftIcon pc-IosSection pc-IosSectionFlex"
  >
    <div class="pc-IconNavToolbarAdd">
      <!-- <img class="pc-Icon" src="https://via.placeholder.com/18x18" /> -->
      <ion-icon name="add-outline" ></ion-icon>
    </div>
  </div>
  <section class="pc-IosSectionSticky">
    <div class="pc-IosSection pc-IosSectionFlex">

      <app-ios-page-title>My posts</app-ios-page-title>
      <div class="pc-NavigationBarComponentsRightBitmap pc-IosSection">
        <img
          class="pc-Bitmap pc-IosRounded"
          src="https://via.placeholder.com/34x34"
        />
      </div>
    </div>
    <div class="pc-IosSection">
      <ion-searchbar></ion-searchbar>
    </div>
  </section>
</div>
