<div class="pc-CardPostDoubleImageContent" >
  <div class="pc-CardPostDoubleImageInfo" >
    <div class="pc-CardPostDoubleImageTopContent" >
      <div class="pc-CardPostDoubleImageTopLine" >
        <div class="pc-CardPostDoubleImagePerson" >
          <img class="pc-CardPostDoubleImageAvatar"  src="/assets/images/ios-profile-picture.png" />
          <div class="pc-CardPostDoubleImageNameDate" >
            <div class="pc-CardPostDoubleImageCameronSteward" >Cameron Steward</div>
            <div class="pc-CardPostDoubleImageDate" >2 hours ago</div>
          </div>
        </div>
        <div class="pc-CardPostDoubleImageButton" >
          <div class="pc-CardPostDoubleImageFollow" >Follow</div>
        </div>
      </div>
      <div class="pc-CardPostDoubleImageDescription" >
        <div class="pc-CardPostDoubleImageArchitectureRelax" >#architecture, #relax</div>
        <div class="pc-CardPostDoubleImageSedAffer" >Sed affert delenit ea. Nam at ferri facete inermis. Eum dicta fuisset phaedrum ei, et amet iuvaret vituperatoribus vix.</div>
      </div>
    </div>
    <div class="pc-CardPostDoubleImageImages" >
      <img class="pc-CardPostDoubleImageImg"  src="/assets/images/ios-double-image-post-placeholder-1.png" />
      <img class="pc-CardPostDoubleImageImg"  src="/assets/images/ios-double-image-post-placeholder-2.png" />
    </div>
  </div>
</div>
